<h5>Consulta de Dependentes</h5>
<br />

<table class="table table-bordered table-light table-stripped table-hover">
    <thead>
        <tr>
            <th>Nome do Dependente</th>
            <th>Data de Nascimento</th>
            <th>Funcionario</th>
            <th width="180">Operações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn btn-primary btn-sm"> Atualizar </button>
                &nbsp;
                <button class="btn btn-danger btn-sm"> Excluir </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4"> Quantidade de registros: 0 </td>
        </tr>
    </tfoot>
</table>