<h5>Consulta de Funcionários</h5>
<br />

<table class="table table-bordered table-light table-stripped table-hover">
    <thead>
        <tr>
            <th>Nome do Funcionário</th>
            <th>CPF</th>
            <th>Matrícula</th>
            <th>Salário</th>
            <th>Data de Admissão</th>
            <th colspan="2">Dependentes</th>
            <th width="180">Operações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listagemFuncionarios">
            <td>{{item.nome | uppercase}}</td>
            <td>{{item.cpf}}</td>
            <td>{{item.matricula}}</td>
            <td>{{item.salario | currency : 'R$ '}}</td>
            <td>{{item.dataAdmissao | date : 'dd/MM/yyyy'}}</td>
            <td width="40">{{item.dependentes.length}}</td>
            <td width="160"> <button class="btn btn-secondary btn-sm" [disabled]="item.dependentes.length == 0">
                    Ver Dependentes </button> </td>
            <td>
                <button class="btn btn-primary btn-sm">Atualizar</button>
                &nbsp;
                <button class="btn btn-danger btn-sm"> Excluir </button>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="8"> Quantidade de registros: {{listagemFuncionarios.length}} </td>
        </tr>
    </tfoot>
</table>