<h5>Consulta de Funcionários</h5>
<br />

<table class="table table-bordered table-light table-stripped table-hover">
    <thead>
        <tr>
            <th>Nome do Funcionário</th>
            <th>CPF</th>
            <th>Matrícula</th>
            <th>Salário</th>
            <th>Data de Admissão</th>
            <th>Dependentes</th>
            <th width="180">Operações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button class="btn btn-primary btn-sm">Atualizar</button>
                &nbsp;
                <button class="btn btn-danger btn-sm"> Excluir </button>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7"> Quantidade de registros: 0 </td>
        </tr>
    </tfoot>
</table>