<h5>Cadastro de Funcionários</h5>
<br>

<div class="row">
    <div class="col-md-4">

        <form #formCadastro="ngForm" (submit)="cadastrarFuncionario(formCadastro)">

            <label>Nome do Funcionário:</label> 
            <input type="text" class="form-control" placeholder="EX: João da Silva" name="nome" ngModel/>
            <br>

            <label>CPF:</label>
            <input type="text" class="form-control" placeholder="000.000.000-00" name="cpf" ngModel/>
            <br>

            <label>Matrícula:</label>
            <input type="text" class="form-control" placeholder="0000-000" name="matricula" ngModel/>
            <br />

            <label>Data de Admissão:</label>
            <input type="date" class="form-control" name="dataAdmissao" ngModel/>
            <br />

            <label>Salário:</label>
            <input type="text" class="form-control" placeholder="0.00" name="salario" ngModel/>
            <br />

            <input type="submit" value="Cadastrar Funcionário" class="btn btn-success" />

        </form>
    </div>

</div>