<h5>Cadastro de Dependentes</h5>
<br>

<div class="row">
    <div class="col-md-4">

        <form #formCadastro="ngForm" (submit)="cadastrarDependente(formCadastro)">

            <label>Nome do Dependente:</label>
            <input type="text" class="form-control" placeholder="EX: João da Silva" name="nome" ngModel />
            <br>

            <label>Data de Nascimento:</label>
            <input type="date" class="form-control" name="dataNascimento" ngModel />
            <br />

            <label>Selecione o Funcionário:</label>
            <select class="form-control" name="funcionarioId" ngModel>
                <option value="">Escolha uma opção</option>
            </select>
            <br />

            <input type="submit" value="Cadastrar Funcionário" class="btn btn-success" />

        </form>
    </div>

</div>